

.back-image{
width: 100%;
height: 100vh;
background-position: center;
background-size:cover;
box-sizing: border-box;
  }

.navbar{
  height: 12%;
  display:flex;
  align-items: center;
  padding: 20px;

}
.navbar a:hover {
  background-color: lavender;
  color: black;
  font-family: monospace;

}



nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
text-decoration: none;
color: white;
font-size: 20px;
font-family: monospace;
padding: 25px;

}


h1{
  text-align:right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, 200%);
  color: white;
  font-family: "Roboto";
  font-size: 80px;
}


span{
  color: lavender;
}


.intro{
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: lavender;
  float: right;

}

.text{
text-align: center;
font-size: 25px;
font-family: monospace;
padding: 20px;

}

.text:first-child{
  animation: animate 10s infinite;
}

@keyframes animate{
 50%{
    margin-top: -200px;
  }
}

.box{
  width: 230px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  transition: translate 0.6s;
}

.box:hover{
  transform: translateY(-10px);

}


.box-imagesa{
  background-image: url(images/CSS.jpg);
  position: relative;
}
.box-imagesb{
  background-image: url(images/html.jpg);
}
.box-imagesc{
  background-image: url(images/js.jpg);
}
.box-imagesd{
  background-image: url(images/jquery.jpg);
}
