.header{
background-color: lavender;
border-style: double;
border-color: pink;
height:160px;
font-family:monospace;
color: blue;
font-size: 30px;
}


.fruits{
  width: 800px;
  height: 200px;
  border: 4px solid black;
  margin: 50px;
  padding: 50px;
  display: flex;
  float: center;
  text-align: center;
  font-family:Comic Sans MS;
  font-size: 25px;
  background-color:#FFF0F5;

}


.drinks{
  width: 800px;
  height: 200px;
  border: 4px solid black;
  margin: 80px;
  padding: 40px;
  display: flex;
  float: center;
  text-align: center;
  font-family:Comic Sans MS;
  font-size: 30px;
  background-color:#F9E79F;

}


.snacks{
  width: 800px;
  height: 200px;
  border: 4px solid black;
  margin: 50px;
  padding: 20px;
  display: flex;
  float: center;
  text-align: center;
  font-family:Comic Sans MS;
  font-size: 25px;
  background-color: #ABEBC6 ;


}
